In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 50)
# from datetime import datetime as dt

# Алюминий LME

In [2]:
df_al = pd.read_excel('../data/external/aluminium_lme.xlsx')

df_al.rename(columns={'lme_aluminium_cash_settlement':'lme_price',
                      'lme_aluminium_3_month':'lme_price_3features',
                      'lme_aluminium_stock':'lme_volume'
                      }, inplace=True)
df_al.dropna(inplace=True)
df_al.dtypes

date                   datetime64[ns]
lme_price                     float64
lme_price_3features           float64
lme_volume                    float64
dtype: object

In [3]:
# df_al['lme_volume'] = df_al['lme_volume'].apply(lambda x: float('.'.join(x[:-1].split(',')))*1000 if ',' in str(x) else float(x))
# df_al['lme_price'] = df_al['lme_price'].apply(lambda x: float(''.join(x.split(',')))*1000 if ',' in str(x) else float(x))
# df_al['lme_change'] = df_al['lme_change'].apply(lambda x: float('.'.join(x[:-1].split(','))) if ',' in str(x) else float(x))
# df_al['date'] = pd.to_datetime(df_al['date'], dayfirst=True)

# Индексы

Bloomberg_Industrial_Metals

In [5]:
df_bloomberg_metal = pd.read_csv('../data/external/Bloomberg_industrial_metals.csv', sep=',')
df_bloomberg_metal['date'] = pd.to_datetime(df_bloomberg_metal['Date'])
df_bloomberg_metal.rename(columns={'Price':'bloomberg_metals_price',
                                   'Change %':'bloomberg_metals_change'
                                   }, inplace=True)
df_bloomberg_metal.drop(columns=["Date", "Open", "High", "Low", "Vol."], inplace=True)
df_bloomberg_metal['bloomberg_metals_change'] = df_bloomberg_metal['bloomberg_metals_change'].apply(lambda x: float(x[:-1]))
df_bloomberg_metal.dropna(inplace=True)
df_bloomberg_metal.dtypes

bloomberg_metals_price            float64
bloomberg_metals_change           float64
date                       datetime64[ns]
dtype: object

In [6]:
# df_bloomberg_metal['bloomberg_metals_price'] = df_bloomberg_metal['bloomberg_metals_price'].apply(lambda x: float('.'.join(x.split(','))) if ',' in str(x) else float(x))
# df_bloomberg_metal['bloomberg_metals_change'] = df_bloomberg_metal['bloomberg_metals_change'].apply(lambda x: float('.'.join(x[:-1].split(','))) if ',' in str(x) else float(x))
# df_bloomberg_metal['date'] = pd.to_datetime(df_bloomberg_metal['date'])

FTSE

In [7]:
df_ftse = pd.read_csv('../data/external/FTSE_China_A600.csv', sep=',')
df_ftse['date'] = pd.to_datetime(df_ftse['Date'])
df_ftse.rename(columns={'Price':'ftse_index',
                                   'Change %':'ftse_index_change'
                                   }, inplace=True)
df_ftse.drop(columns=["Date", "Open", "High", "Low", "Vol."], inplace=True)
df_ftse['ftse_index_change'] = df_ftse['ftse_index_change'].apply(lambda x: float(x[:-1]))
df_ftse['ftse_index'] = df_ftse['ftse_index'].apply(lambda x: float(''.join(x.split(','))) if ',' in str(x) else float(x))
df_ftse.dropna(inplace=True)
df_ftse.dtypes

ftse_index                  float64
ftse_index_change           float64
date                 datetime64[ns]
dtype: object

S&P_Metals_and_Mining_Select_Industry

In [8]:
df_sp_metal = pd.read_csv('../data/external/S&P_metals_&_mining_select_industry.csv', sep=',')
df_sp_metal['date'] = pd.to_datetime(df_sp_metal['Date'])
df_sp_metal.rename(columns={'Price':'sp_metals_price',
                            'Change %':'sp_metals_change'
                            }, inplace=True)
df_sp_metal.drop(columns=["Date", "Open", "High", "Low", "Vol."], inplace=True)
df_sp_metal['sp_metals_change'] = df_sp_metal['sp_metals_change'].apply(lambda x: float(x[:-1]))
df_sp_metal['sp_metals_price'] = df_sp_metal['sp_metals_price'].apply(lambda x: float(''.join(x.split(','))) if ',' in str(x) else float(x))
df_sp_metal.dropna(inplace=True)
df_sp_metal.dtypes

sp_metals_price            float64
sp_metals_change           float64
date                datetime64[ns]
dtype: object

In [9]:
# df_sp_metal['sp_metals_price'] = df_sp_metal['sp_metals_price'].apply(lambda x: float(''.join(x.split(',')))*1000 if '.' in str(x) else float('.'.join(x.split(','))) )
# df_sp_metal['sp_metals_change'] = df_sp_metal['sp_metals_change'].apply(lambda x: float('.'.join(x[:-1].split(','))) if ',' in str(x) else float(x))

mosexchange

In [10]:
df_mosexchange = pd.read_csv('../data/external/moexmm.csv', sep=',')
df_mosexchange['date'] = pd.to_datetime(df_mosexchange['Дата'], dayfirst=True)
df_mosexchange.rename(columns={'Цена':'mosexchange_price',
                               'Изм. %':'mosexchange_change'
                               }, inplace=True)
df_mosexchange = df_mosexchange.loc[:,['date', 'mosexchange_price', 'mosexchange_change']]
df_mosexchange['mosexchange_change'] = df_mosexchange['mosexchange_change'].str.replace(',', '.')
df_mosexchange['mosexchange_change'] = df_mosexchange['mosexchange_change'].apply(lambda x: float(x[:-1]) if '%' in str(x) else float(x))
df_mosexchange['mosexchange_price'] = df_mosexchange['mosexchange_price'].str.replace('.', '')
df_mosexchange['mosexchange_price'] = df_mosexchange['mosexchange_price'].str.replace(',', '.').astype('float64')
df_mosexchange.dropna(inplace=True)
df_mosexchange.dtypes

date                  datetime64[ns]
mosexchange_price            float64
mosexchange_change           float64
dtype: object

Baltic dry index

In [11]:
df_baltic_dry_index = pd.read_csv('../data/external/baltic_dry_index.csv', sep=',')
df_baltic_dry_index['date'] = pd.to_datetime(df_baltic_dry_index['Дата'], dayfirst=True)
df_baltic_dry_index.rename(columns={'Цена':'baltic_dry_index',
                                    'Изм. %':'baltic_dry_index_change'
                                    }, inplace=True)
df_baltic_dry_index = df_baltic_dry_index.loc[:,['date', 'baltic_dry_index', 'baltic_dry_index_change']]
df_baltic_dry_index['baltic_dry_index_change'] = df_baltic_dry_index['baltic_dry_index_change'].str.replace(',', '.')
df_baltic_dry_index['baltic_dry_index_change'] = df_baltic_dry_index['baltic_dry_index_change'].apply(lambda x: float(x[:-1]) if '%' in str(x) else float(x))
df_baltic_dry_index['baltic_dry_index'] = df_baltic_dry_index['baltic_dry_index'].str.replace('.', '')
df_baltic_dry_index['baltic_dry_index'] = df_baltic_dry_index['baltic_dry_index'].str.replace(',', '.').astype('float64')
df_baltic_dry_index.dropna(inplace=True)
df_baltic_dry_index.dtypes

date                       datetime64[ns]
baltic_dry_index                  float64
baltic_dry_index_change           float64
dtype: object

In [12]:
# df_shanghai_index = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Логистика', header=None, names=['date','shanghai_index'], skiprows=4, usecols="B:C")
# df_shanghai_index.dropna(inplace=True)
# df_china_index = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Логистика', header=None, names=['date','china_index'], skiprows=4, usecols="E:F")
# df_china_index.dropna(inplace=True)

# Курсы валют

In [13]:
df_usd_clp = pd.read_csv('../data/external/USD_CLP.csv', sep=',')
df_usd_clp.rename(columns={'Цена':'usd_clp_price',
                           'Изм. %':'usd_clp_change'
                           }, inplace=True)
df_usd_clp['date'] = pd.to_datetime(df_usd_clp['Дата'], dayfirst=True)
df_usd_clp = df_usd_clp.loc[:,['date', 'usd_clp_price', 'usd_clp_change']]
df_usd_clp['usd_clp_change'] = df_usd_clp['usd_clp_change'].str.replace(',', '.')
df_usd_clp['usd_clp_change'] = df_usd_clp['usd_clp_change'].apply(lambda x: float(x[:-1]) if '%' in str(x) else float(x))
df_usd_clp['usd_clp_price'] = df_usd_clp['usd_clp_price'].str.replace('.', '')
df_usd_clp['usd_clp_price'] = df_usd_clp['usd_clp_price'].str.replace(',', '.').astype('float64')
df_usd_clp.dropna(inplace=True)


df_usd_cny = pd.read_csv('../data/external/USD_CNY.csv', sep=',')
df_usd_cny.rename(columns={'Цена':'usd_cny_price',
                           'Изм. %':'usd_cny_change'
                           }, inplace=True)
df_usd_cny['date'] = pd.to_datetime(df_usd_cny['Дата'], dayfirst=True)
df_usd_cny = df_usd_cny.loc[:,['date', 'usd_cny_price', 'usd_cny_change']]
df_usd_cny['usd_cny_change'] = df_usd_cny['usd_cny_change'].str.replace(',', '.')
df_usd_cny['usd_cny_change'] = df_usd_cny['usd_cny_change'].apply(lambda x: float(x[:-1]) if '%' in str(x) else float(x))
df_usd_cny['usd_cny_price'] = df_usd_cny['usd_cny_price'].str.replace('.', '')
df_usd_cny['usd_cny_price'] = df_usd_cny['usd_cny_price'].str.replace(',', '.').astype('float64')
df_usd_cny.dropna(inplace=True)

df_usd_jpy = pd.read_csv('../data/external/USD_JPY.csv', sep=',')
df_usd_jpy.rename(columns={'Цена':'usd_jpy_price',
                           'Изм. %':'usd_jpy_change'
                           }, inplace=True)
df_usd_jpy['date'] = pd.to_datetime(df_usd_jpy['Дата'], dayfirst=True)
df_usd_jpy = df_usd_jpy.loc[:,['date', 'usd_jpy_price', 'usd_jpy_change']]
df_usd_jpy['usd_jpy_change'] = df_usd_jpy['usd_jpy_change'].str.replace(',', '.')
df_usd_jpy['usd_jpy_change'] = df_usd_jpy['usd_jpy_change'].apply(lambda x: float(x[:-1]) if '%' in str(x) else float(x))
df_usd_jpy['usd_jpy_price'] = df_usd_jpy['usd_jpy_price'].str.replace('.', '')
df_usd_jpy['usd_jpy_price'] = df_usd_jpy['usd_jpy_price'].str.replace(',', '.').astype('float64')
df_usd_jpy.dropna(inplace=True)

df_usd_eur = pd.read_csv('../data/external/USD_EUR.csv', sep=',')
df_usd_eur.rename(columns={'Цена':'usd_eur_price',
                           'Изм. %':'usd_eur_change'
                           }, inplace=True)
df_usd_eur['date'] = pd.to_datetime(df_usd_eur['Дата'], dayfirst=True)
df_usd_eur = df_usd_eur.loc[:,['date', 'usd_eur_price', 'usd_eur_change']]
df_usd_eur['usd_eur_change'] = df_usd_eur['usd_eur_change'].str.replace(',', '.')
df_usd_eur['usd_eur_change'] = df_usd_eur['usd_eur_change'].apply(lambda x: float(x[:-1]) if '%' in str(x) else float(x))
df_usd_eur['usd_eur_price'] = df_usd_eur['usd_eur_price'].str.replace('.', '')
df_usd_eur['usd_eur_price'] = df_usd_eur['usd_eur_price'].str.replace(',', '.').astype('float64')
df_usd_eur.dropna(inplace=True)

df_usd_rub = pd.read_csv('../data/external/USD_RUB.csv', sep=',')
df_usd_rub.rename(columns={'Цена':'usd_rub_price',
                           'Изм. %':'usd_rub_change'
                           }, inplace=True)
df_usd_rub['date'] = pd.to_datetime(df_usd_rub['Дата'], dayfirst=True)
df_usd_rub = df_usd_rub.loc[:,['date', 'usd_rub_price', 'usd_rub_change']]
df_usd_rub['usd_rub_change'] = df_usd_rub['usd_rub_change'].str.replace(',', '.')
df_usd_rub['usd_rub_change'] = df_usd_rub['usd_rub_change'].apply(lambda x: float(x[:-1]) if '%' in str(x) else float(x))
df_usd_rub['usd_rub_price'] = df_usd_rub['usd_rub_price'].str.replace('.', '')
df_usd_rub['usd_rub_price'] = df_usd_rub['usd_rub_price'].str.replace(',', '.').astype('float64')
df_usd_rub.dropna(inplace=True)

df_dxy = pd.read_csv('../data/external/index_USD.csv', sep=',')
df_dxy.rename(columns={'Цена':'dxy_price',
                       'Изм. %':'dxy_change'
                       }, inplace=True)
df_dxy['date'] = pd.to_datetime(df_dxy['Дата'], dayfirst=True)
df_dxy = df_dxy.loc[:,['date', 'dxy_price', 'dxy_change']]
df_dxy['dxy_change'] = df_dxy['dxy_change'].str.replace(',', '.')
df_dxy['dxy_change'] = df_dxy['dxy_change'].apply(lambda x: float(x[:-1]) if '%' in str(x) else float(x))
df_dxy['dxy_price'] = df_dxy['dxy_price'].str.replace('.', '')
df_dxy['dxy_price'] = df_dxy['dxy_price'].str.replace(',', '.').astype('float64')
df_dxy.dropna(inplace=True)

# Акции

In [14]:
df_chalco = pd.read_csv('../data/external/Chalco.csv', sep=',')
df_chalco['date'] = pd.to_datetime(df_chalco['Date'])
df_chalco.rename(columns={'Close':'chalco_price',
                          'Volume':'chalco_volume'
                          }, inplace=True)
df_chalco = df_chalco.loc[:,['date', 'chalco_price', 'chalco_volume']]
df_chalco.dropna(inplace=True)

df_hongqiao = pd.read_csv('../data/external/Hongqiao.csv', sep=',')
df_hongqiao['date'] = pd.to_datetime(df_hongqiao['Date'])
df_hongqiao.rename(columns={'Close':'hongqiao_price',
                            'Volume':'hongqiao_volume'
                            }, inplace=True)
df_hongqiao = df_hongqiao.loc[:,['date', 'hongqiao_price', 'hongqiao_volume']]
df_hongqiao.dropna(inplace=True)


df_norsk_hydro = pd.read_csv('../data/external/norsk_hydro.csv', sep=',')
df_norsk_hydro['date'] = pd.to_datetime(df_norsk_hydro['Date'])
df_norsk_hydro.rename(columns={'Close':'norsk_hydro_price',
                               'Volume':'norsk_hydro_volume'
                               }, inplace=True)
df_norsk_hydro = df_norsk_hydro.loc[:,['date', 'norsk_hydro_price', 'norsk_hydro_volume']]
df_norsk_hydro.dropna(inplace=True)

df_rusal = pd.read_csv('../data/external/rus_rual.csv', sep=',')
df_rusal['date'] = pd.to_datetime(df_rusal['Date'])
df_rusal.rename(columns={'Close':'rusal_price',
                         'Volume':'rusal_volume'
                         }, inplace=True)
df_rusal = df_rusal.loc[:,['date', 'rusal_price', 'rusal_volume']]
df_rusal.dropna(inplace=True)

df_alcoa = pd.read_csv('../data/external/Alcoa_AA.csv', sep=',')
df_alcoa['date'] = pd.to_datetime(df_alcoa['Date'])
df_alcoa.rename(columns={'Close':'alcoa_price',
                         'Volume':'alcoa_volume'
                         }, inplace=True)
df_alcoa = df_alcoa.loc[:,['date', 'alcoa_price', 'alcoa_volume']]
df_alcoa.dropna(inplace=True)

df_kaiser = pd.read_csv('../data/external/Kaiser_KALU.csv', sep=',')
df_kaiser['date'] = pd.to_datetime(df_kaiser['Date'])
df_kaiser.rename(columns={'Close':'kaiser_price',
                         'Volume':'kaiser_volume'
                         }, inplace=True)
df_kaiser = df_kaiser.loc[:,['date', 'kaiser_price', 'kaiser_volume']]
df_kaiser.dropna(inplace=True)

In [15]:
df_chalco

           date  chalco_price  chalco_volume
0    2017-11-01          6.08       52368844
1    2017-11-02          6.16       46011457
2    2017-11-03          6.02       36063779
3    2017-11-06          6.00       58073517
4    2017-11-07          6.12       46136135
...         ...           ...            ...
1613 2024-05-24          5.49       29545904
1614 2024-05-27          5.95       66702625
1615 2024-05-28          6.04       62036800
1616 2024-05-29          6.08       65771946
1617 2024-05-30          5.97       57570804

[1618 rows x 3 columns]

# Макроэкономика

Австралия

In [16]:
df_australia_fed_rate = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','australia_fed_rate_value'],
                              usecols="AK:AL"
                              )
df_australia_fed_rate['date'] = pd.to_datetime(df_australia_fed_rate['date'], dayfirst=True)
df_australia_fed_rate.dropna(inplace=True)

Бразилия

In [17]:
df_brazil_pmi = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','brazil_pmi_value'],
                              usecols="AD:AE"
                              )
df_brazil_pmi['date'] = pd.to_datetime(df_brazil_pmi['date'], dayfirst=True)
df_brazil_pmi.dropna(inplace=True)

df_brazil_inflation = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','brazil_inflation_value'],
                              usecols="AH:AI"
                              )
df_brazil_inflation['date'] = pd.to_datetime(df_brazil_inflation['date'], dayfirst=True)
df_brazil_inflation.dropna(inplace=True)

df_brazil_fed_rate = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','brazil_fed_rate_value'],
                              usecols="AF:AG"
                              )
df_brazil_fed_rate['date'] = pd.to_datetime(df_brazil_fed_rate['date'], dayfirst=True)
df_brazil_fed_rate.dropna(inplace=True)

Китай

In [18]:
df_china_gdp = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','china_gdp_value'],
                              usecols="A:B"
                              )
df_china_gdp['date'] = pd.to_datetime(df_china_gdp['date'], dayfirst=True)
df_china_gdp.dropna(inplace=True)

df_china_pmi = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','china_pmi_value'],
                              usecols="C:D"
                              )
df_china_pmi['date'] = pd.to_datetime(df_china_pmi['date'], dayfirst=True)
df_china_pmi.dropna(inplace=True)

df_china_inflation = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','china_inflation_value'],
                              usecols="E:F"
                              )
df_china_inflation['date'] = pd.to_datetime(df_china_inflation['date'], dayfirst=True)
df_china_inflation.dropna(inplace=True)

df_china_fed_rate = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','china_fed_rate_value'],
                              usecols="G:H"
                              )
df_china_fed_rate['date'] = pd.to_datetime(df_china_fed_rate['date'], dayfirst=True)
df_china_fed_rate.dropna(inplace=True)

df_china_composite_pmi = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','china_composite_pmi_value'],
                              usecols="I:J"
                              )
df_china_composite_pmi['date'] = pd.to_datetime(df_china_composite_pmi['date'], dayfirst=True)
df_china_composite_pmi.dropna(inplace=True)

Перу

In [19]:
df_peru_gdp = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','peru_gdp_value'],
                              usecols="L:M"
                              )
df_peru_gdp['date'] = pd.to_datetime(df_peru_gdp['date'], dayfirst=True)
df_peru_gdp.dropna(inplace=True)

df_peru_fed_rate = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','peru_fed_rate_value'],
                              usecols="N:O"
                              )
df_peru_fed_rate['date'] = pd.to_datetime(df_peru_fed_rate['date'], dayfirst=True)
df_peru_fed_rate.dropna(inplace=True)

df_peru_inflation = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','peru_producer_price_index'],
                              usecols="P:Q"
                              )
df_peru_inflation['date'] = pd.to_datetime(df_peru_inflation['date'], dayfirst=True)
df_peru_inflation.dropna(inplace=True)

df_peru_pmi = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','peru_consumer_price_index'],
                              usecols="R:S"
                              )
df_peru_pmi['date'] = pd.to_datetime(df_peru_pmi['date'], dayfirst=True)
df_peru_pmi.dropna(inplace=True)

США

In [20]:
df_usa_gdp = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','usa_gdp_value'],
                              usecols="U:V"
                              )
df_usa_gdp['date'] = pd.to_datetime(df_usa_gdp['date'], dayfirst=True)
df_usa_gdp.dropna(inplace=True)

df_usa_fed_rate = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','usa_fed_rate_value'],
                              usecols="W:X"
                              )
df_usa_fed_rate['date'] = pd.to_datetime(df_usa_fed_rate['date'], dayfirst=True)
df_usa_fed_rate.dropna(inplace=True)

df_usa_inflation = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','usa_inflation_value'],
                              usecols="Y:Z"
                              )
df_usa_inflation['date'] = pd.to_datetime(df_usa_inflation['date'], dayfirst=True)
df_usa_inflation.dropna(inplace=True)

df_usa_pmi = pd.read_excel('../data/external/additional_info.xlsx',
                              sheet_name='macro',
                              header=None,
                              skiprows=3,
                              names=['date','usa_pmi_value'],
                              usecols="AA:AB"
                              )
df_usa_pmi['date'] = pd.to_datetime(df_usa_pmi['date'], dayfirst=True)
df_usa_pmi.dropna(inplace=True)

# Внешняя торговля

In [21]:
df_brazil_import = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='trademap', header=0, usecols="A:B")
df_brazil_import['date'] = pd.to_datetime(df_brazil_import['date']) + pd.offsets.MonthEnd()

df_brazil_export = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='trademap', header=0, usecols="C:D")
df_brazil_export.rename(columns = {'date.1':'date'}, inplace=True)
df_brazil_export['date'] = pd.to_datetime(df_brazil_export['date']) + pd.offsets.MonthEnd()


df_usa_import = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='trademap', header=0, usecols="E:F")
df_usa_import.rename(columns = {'date.2':'date'}, inplace=True)
df_usa_import['date'] = pd.to_datetime(df_usa_import['date']) + pd.offsets.MonthEnd()

df_usa_export = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='trademap', header=0, usecols="G:H")
df_usa_export.rename(columns = {'date.3':'date'}, inplace=True)
df_usa_export['date'] = pd.to_datetime(df_usa_export['date']) + pd.offsets.MonthEnd()


df_china_import = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='trademap', header=0, usecols="I:J")
df_china_import.rename(columns = {'date.4':'date'}, inplace=True)
df_china_import['date'] = pd.to_datetime(df_china_import['date']) + pd.offsets.MonthEnd()

df_china_export = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='trademap', header=0, usecols="K:L")
df_china_export.rename(columns = {'date.5':'date'}, inplace=True)
df_china_export['date'] = pd.to_datetime(df_china_export['date']) + pd.offsets.MonthEnd()


df_australia_import = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='trademap', header=0, usecols="M:N")
df_australia_import.rename(columns = {'date.6':'date'}, inplace=True)
df_australia_import['date'] = pd.to_datetime(df_australia_import['date']) + pd.offsets.MonthEnd()

df_australia_export = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='trademap', header=0, usecols="O:P")
df_australia_export.rename(columns = {'date.7':'date'}, inplace=True)
df_australia_export['date'] = pd.to_datetime(df_australia_export['date']) + pd.offsets.MonthEnd()

# Сбор общего датасета

In [22]:
l = [df_al, df_bloomberg_metal, df_ftse, df_sp_metal, df_mosexchange, df_baltic_dry_index,
 df_usd_clp, df_usd_cny, df_usd_jpy, df_usd_eur, df_usd_rub, df_dxy,
 df_chalco, df_hongqiao, df_norsk_hydro, df_rusal, df_alcoa, df_kaiser,
 df_australia_fed_rate, df_brazil_pmi, df_brazil_inflation, df_brazil_fed_rate,
 df_china_gdp, df_china_pmi, df_china_inflation, df_china_fed_rate, df_china_composite_pmi,
 df_peru_gdp, df_peru_fed_rate, df_peru_inflation, df_peru_pmi,
 df_usa_gdp, df_usa_fed_rate, df_usa_inflation, df_usa_pmi,
df_brazil_import, df_brazil_export, df_usa_import, df_usa_export,
df_china_import, df_china_export, df_australia_import, df_australia_export]

In [23]:
#Подрезал данные с 1 ноября 2017 года по 31 мая 2024
d = pd.date_range(start='11/1/2017', end='05/31/2024', freq="D")
df = pd.DataFrame(data=d, columns=['date'])

for i in l:
    df = df.join(i.set_index('date'), on='date', how='left')

df.set_index('date', inplace=True)

In [24]:
df.shape

(2404, 62)

In [25]:
df.to_csv('../data/raw/dataset_with_raw_data.csv')

In [26]:
df

,lme_price,lme_price_3features,lme_volume,bloomberg_metals_price,bloomberg_metals_change,ftse_index,ftse_index_change,sp_metals_price,sp_metals_change,mosexchange_price,mosexchange_change,baltic_dry_index,baltic_dry_index_change,usd_clp_price,usd_clp_change,usd_cny_price,usd_cny_change,usd_jpy_price,usd_jpy_change,usd_eur_price,usd_eur_change,usd_rub_price,usd_rub_change,dxy_price,dxy_change,...,australia_fed_rate_value,brazil_pmi_value,brazil_inflation_value,brazil_fed_rate_value,china_gdp_value,china_pmi_value,china_inflation_value,china_fed_rate_value,china_composite_pmi_value,peru_gdp_value,peru_fed_rate_value,peru_producer_price_index,peru_consumer_price_index,usa_gdp_value,usa_fed_rate_value,usa_inflation_value,usa_pmi_value,import_brazil_value,export_brazil_value,import_usa_value,export_usa_value,import_china_value,export_china_value,import_australia_value,export_australia_value
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2017-11-01,2188.0,2197.0,1186450.0,134.67,1.52,11876.23,-0.05,1588.5,0.84,NaN,NaN,1496.0,-1.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,NaN,NaN,NaN,NaN,NaN,1.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-02,2152.0,2167.0,1184200.0,134.08,-0.44,11892.46,0.14,1590.1,0.10,NaN,NaN,1482.0,-0.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-03,2165.0,2183.5,1181300.0,133.69,-0.29,11814.76,-0.65,1577.3,-0.81,NaN,NaN,1476.0,-0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-27,NaN,NaN,NaN,NaN,NaN,9693.48,1.03,NaN,NaN,8639.87,-4.28,NaN,NaN,901.20,-0.14,7.2440,0.02,156.86,-0.08,0.9209,-0.09,88.6200,-1.01,156.86,-0.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-05-28,2653.0,2704.0,1121500.0,167.34,1.86,9620.38,-0.75,3289.3,1.48,8637.77,-0.02,1784.0,-0.72,896.00,-0.58,7.2448,0.01,157.16,0.19,0.9209,0.00,88.5750,-0.05,157.16,0.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-05-29,2695.0,2741.0,1120050.0,167.08,-0.15,9638.36,0.19,3235.9,-1.62,8621.84,-0.18,1790.0,0.34,911.40,1.72,7.2489,0.06,157.60,0.28,0.9256,0.51,89.5125,1.06,157.60,0.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-05-30,2665.5,2710.5,1120050.0,163.40,-2.20,9581.26,-0.59,3273.4,1.16,8534.37,-1.01,1801.0,0.61,917.56,0.68,7.2318,-0.24,156.81,-0.50,0.9230,-0.28,89.8525,0.38,156.81,-0.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-05-31,2677.0,2712.5,1116650.0,160.58,-1.73,9556.85,-0.25,3296.3,0.70,8238.95,-3.46,1815.0,0.78,919.08,0.17,7.2417,0.14,157.29,0.30,0.9218,-0.13,90.1000,0.28,157.29,0.30,...,NaN,NaN,3.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN