In [1]:
import numpy as np

import pandas as pd
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 50)
from datetime import datetime as dt

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
# from statsmodels.tsa.seasonal import STL
# from statsmodels.tsa.stattools import adfuller
# from statsmodels.tsa.statespace.sarimax import SARIMAX

# print(np.__version__)
# print(pd.__version__)
# print(statsmodels.__version__)
# print(sns.__version__)

# Алюминий LME

In [3]:
df_al = pd.read_csv('../data/external/Al_lme_prices.csv', sep=';')

In [4]:
df_al['lme_volume'] = df_al['lme_volume'].apply(lambda x: float('.'.join(x[:-1].split(',')))*1000 if ',' in str(x) else float(x))
df_al['lme_price'] = df_al['lme_price'].apply(lambda x: float(''.join(x.split(',')))*1000 if ',' in str(x) else float(x))
df_al['lme_change'] = df_al['lme_change'].apply(lambda x: float('.'.join(x[:-1].split(','))) if ',' in str(x) else float(x))
df_al['date'] = pd.to_datetime(df_al['date'], dayfirst=True)

In [5]:
df_al.head()

        date  lme_price  lme_volume  lme_change
0 2023-10-26     2197.5     43570.0       -0.97
1 2023-10-25     2219.0     47390.0        1.28
2 2023-10-24     2191.0     44210.0        0.69
3 2023-10-23     2176.0     31710.0       -0.25
4 2023-10-20     2181.5     27910.0       -0.16

In [6]:
df_al.dtypes

date          datetime64[ns]
lme_price            float64
lme_volume           float64
lme_change           float64
dtype: object

# Индексы

Блумберг металс индекс

In [7]:
df_bloomberg_metal = pd.read_csv('../data/external/Bloomberg_Industrial_Metals.csv', sep=';')

In [8]:
df_bloomberg_metal['bloomberg_metals_price'] = df_bloomberg_metal['bloomberg_metals_price'].apply(lambda x: float('.'.join(x.split(','))) if ',' in str(x) else float(x))
df_bloomberg_metal['bloomberg_metals_change'] = df_bloomberg_metal['bloomberg_metals_change'].apply(lambda x: float('.'.join(x[:-1].split(','))) if ',' in str(x) else float(x))
df_bloomberg_metal['date'] = pd.to_datetime(df_bloomberg_metal['date'], dayfirst=True)

In [9]:
df_bloomberg_metal.head()

        date  bloomberg_metals_price  bloomberg_metals_change
0 2023-10-27                  138.09                     1.45
1 2023-10-26                  136.11                    -0.81
2 2023-10-25                  137.23                     0.26
3 2023-10-24                  136.87                     0.81
4 2023-10-23                  135.77                    -0.29

In [10]:
df_bloomberg_metal.dtypes

date                       datetime64[ns]
bloomberg_metals_price            float64
bloomberg_metals_change           float64
dtype: object

FTSE

In [11]:
df_ftse = pd.read_csv('../data/external/FTSE_ChinaA600_Industrial_Metal.csv', sep=';')

In [12]:
df_ftse['ftse_index'] = df_ftse['ftse_index'].apply(lambda x: float(''.join(x.split(',')))*1000 if ',' in str(x) else float(x))
df_ftse['ftse_index_change'] = df_ftse['ftse_index_change'].apply(lambda x: float('.'.join(x[:-1].split(','))) if ',' in str(x) else float(x))
df_ftse['date'] = pd.to_datetime(df_ftse['date'], dayfirst=True)

In [13]:
df_ftse.head()

        date  ftse_index  ftse_index_change
0 2023-10-27     4741.72               1.18
1 2023-10-26     4686.37               0.40
2 2023-10-25     4667.83               2.19
3 2023-10-24     4567.76               1.82
4 2023-10-23     4486.17              -2.73

In [14]:
df_ftse.dtypes

date                 datetime64[ns]
ftse_index                  float64
ftse_index_change           float64
dtype: object

sp_metal

In [15]:
df_sp_metal = pd.read_csv('../data/external/S&P_Metals_and_Mining_Select_Industry.csv', sep=';')
df_sp_metal['date'] = pd.to_datetime(df_sp_metal['date'], dayfirst=True)

In [16]:
df_sp_metal['sp_metals_price'] = df_sp_metal['sp_metals_price'].apply(lambda x: float(''.join(x.split(',')))*1000 if '.' in str(x) else float('.'.join(x.split(','))) )
df_sp_metal['sp_metals_change'] = df_sp_metal['sp_metals_change'].apply(lambda x: float('.'.join(x[:-1].split(','))) if ',' in str(x) else float(x))

In [17]:
df_sp_metal.dtypes

date                datetime64[ns]
sp_metals_price            float64
sp_metals_change           float64
dtype: object

In [18]:
df_sp_metal.head()

        date  sp_metals_price  sp_metals_change
0 2023-10-27           2527.9              0.79
1 2023-10-26           2508.1              0.16
2 2023-10-25           2504.1             -0.79
3 2023-10-24           2524.0              1.49
4 2023-10-23           2486.9             -0.72

mosexchange

In [19]:
df_mosexchange = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Индексы', header=None, names=['date','mosexchange_value'], skiprows=4, usecols="A:B")
df_mosexchange.dropna(inplace=True)
df_mosexchange['mosexchange_value'] = df_mosexchange['mosexchange_value'].apply(lambda x: float(''.join(x.split(',')))*1000 if ',' in str(x) else float(x))
df_mosexchange.dtypes

date                 datetime64[ns]
mosexchange_value           float64
dtype: object

In [20]:
df_mosexchange.head()

        date  mosexchange_value
0 2023-10-26            8189.72
1 2023-10-25            8278.75
2 2023-10-24            8264.43
3 2023-10-23            8282.37
4 2023-10-20            8291.48

# Курсы валют

In [21]:
df_usd_hkd = pd.read_csv('../data/external/HKD_X.csv', sep=';')
df_usd_hkd['date'] = pd.to_datetime(df_usd_hkd['date'], dayfirst=True)

In [22]:
df_rub_cny = pd.read_csv('../data/external/RUB_CNY.csv', sep=';')
df_rub_cny['date'] = pd.to_datetime(df_rub_cny['date'], dayfirst=True)
df_rub_cny['rub_to_cny'] = df_rub_cny['rub_to_cny'].apply(lambda x: float('.'.join(x.split(','))) if ',' in str(x) else float(x))
df_rub_cny['rub_to_cny_change'] = df_rub_cny['rub_to_cny_change'].apply(lambda x: float('.'.join(x[:-1].split(','))) if ',' in str(x) else float(x))

In [23]:
df_usd_clp = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Валюты', header=3, usecols="B:C")
df_usd_clp.rename(columns = {'Date':'date'}, inplace=True)
df_usd_cny = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Валюты', header=3, usecols="D:E")
df_usd_cny.rename(columns = {'Date.1':'date'}, inplace=True)
df_usd_jpy = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Валюты', header=3, usecols="F:G")
df_usd_jpy.rename(columns = {'Date.2':'date'}, inplace=True)
df_usd_eur = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Валюты', header=3, usecols="H:I")
df_usd_eur.rename(columns = {'Date.3':'date'}, inplace=True)
df_usd_rub = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Валюты', header=3, usecols="J:K")
df_usd_rub.rename(columns = {'Date.4':'date'}, inplace=True)
df_usd_dxy = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Валюты', header=3, usecols="L:M")
df_usd_dxy.rename(columns = {'Date.5':'date'}, inplace=True)

df_usd_clp.dropna(inplace=True)
df_usd_cny.dropna(inplace=True)
df_usd_jpy.dropna(inplace=True)
df_usd_eur.dropna(inplace=True)
df_usd_rub.dropna(inplace=True)
df_usd_dxy.dropna(inplace=True)

In [24]:
df_usd_clp['USD_CLP_rate'] = df_usd_clp['USD_CLP_rate'].apply(lambda x: float(''.join(x.split(',')))*1000 if ',' in str(x) else float(x))

# Акции

In [25]:
df_chalco = pd.read_csv('../data/external/China_Chalco.csv', sep=';')
df_hongqiao = pd.read_csv('../data/external/China_Hongqiao.csv', sep=';')

df_chalco['date'] = pd.to_datetime(df_chalco['date'], dayfirst=True)
df_hongqiao['date'] = pd.to_datetime(df_hongqiao['date'], dayfirst=True)

In [26]:
df_chalco.dtypes

date             datetime64[ns]
chalco_price            float64
chalco_adj              float64
chalco_volume             int64
dtype: object

In [27]:
df_hongqiao.dtypes

date               datetime64[ns]
hongqiao_price            float64
hongqiao_adj              float64
hongqiao_volume             int64
dtype: object

In [28]:
df_norsk_hydro = pd.read_csv('../data/external/NOW_Norsk_Hydro.csv', sep=';')
df_norsk_hydro['date'] = pd.to_datetime(df_norsk_hydro['date'], dayfirst=True)

In [29]:
df_norsk_hydro.dtypes

date                  datetime64[ns]
norsk_hydro_price            float64
norsk_hydro_adj              float64
norsk_hydro_volume             int64
dtype: object

In [30]:
df_rusal = pd.read_csv('../data/external/RUS_RUAL.csv', sep=';')
df_rusal['date'] = pd.to_datetime(df_rusal['date'], dayfirst=True)

In [31]:
df_rusal['rual_price'] = df_rusal['rual_price'].apply(lambda x: float('.'.join(x.split(','))) if ',' in str(x) else float(x))
df_rusal['rual_volume'] = df_rusal['rual_volume'].apply(lambda x: float('.'.join(x[:-1].split(',')))*1000000 if 'M' in str(x) else float('.'.join(x[:-1].split(',')))*1000 if 'K' in str(x) else float(x))
df_rusal['rual_price_change'] = df_rusal['rual_price_change'].apply(lambda x: float('.'.join(x[:-1].split(','))) if ',' in str(x) else float(x))

In [32]:
df_rusal.dtypes

date                 datetime64[ns]
rual_price                  float64
rual_volume                 float64
rual_price_change           float64
dtype: object

In [33]:
df_alcoa = pd.read_csv('../data/external/USA_Alcoa_corp.csv', sep=';')
df_alcoa['date'] = pd.to_datetime(df_alcoa['date'], dayfirst=True)

In [34]:
df_alcoa.dtypes

date            datetime64[ns]
alcoa_price            float64
alcoa_volume             int64
dtype: object

In [35]:
df_kaiser = pd.read_csv('../data/external/USA_Kaiser.csv', sep=';')
df_kaiser['date'] = pd.to_datetime(df_kaiser['date'], dayfirst=True)

In [36]:
df_kaiser.dtypes

date             datetime64[ns]
kaiser_price            float64
kaiser_volume             int64
dtype: object

# Логистика

In [37]:
df_shanghai_index = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Логистика', header=None, names=['date','shanghai_index'], skiprows=4, usecols="B:C")
df_shanghai_index.dropna(inplace=True)
df_china_index = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Логистика', header=None, names=['date','china_index'], skiprows=4, usecols="E:F")
df_china_index.dropna(inplace=True)
df_baltic_dry_index = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Логистика', header=None, names=['date','baltic_dry_index'], skiprows=4, usecols="G:H")
df_baltic_dry_index['baltic_dry_index'] = df_baltic_dry_index['baltic_dry_index'].apply(lambda x: float(''.join(x.split(',')))*1000 if ',' in str(x) else float(x))

In [38]:
df_shanghai_index.dtypes

date              datetime64[ns]
shanghai_index           float64
dtype: object

In [39]:
df_china_index.dtypes

date           datetime64[ns]
china_index           float64
dtype: object

In [40]:
df_baltic_dry_index.dtypes

date                datetime64[ns]
baltic_dry_index           float64
dtype: object

# Макроэкономика

Австралия

In [41]:
df_australia_inflation = pd.read_csv('../data/external/Australia_inflation.csv', sep=';')
df_australia_inflation['australia_inflation'] = df_australia_inflation['australia_inflation'].apply(lambda x: float('.'.join(x.split(','))) if ',' in str(x) else float(x))
df_australia_inflation['date'] = pd.to_datetime(df_australia_inflation['date'], dayfirst=True)

In [42]:
df_australia_inflation.dtypes

date                   datetime64[ns]
australia_inflation           float64
dtype: object

In [43]:
df_australia_pmi = pd.read_csv('../data/external/Australia_PMI.csv', sep=';')
df_australia_pmi['australia_pmi'] = df_australia_pmi['australia_pmi'].apply(lambda x: float('.'.join(x.split(','))) if ',' in str(x) else float(x))
df_australia_pmi['date'] = pd.to_datetime(df_australia_pmi['date'], dayfirst=True)

In [44]:
df_australia_pmi.dtypes

date             datetime64[ns]
australia_pmi           float64
dtype: object

In [45]:
df_australia_resources_changing = pd.read_csv('../data/external/Australia_resources_changing.csv', sep=';')
df_australia_resources_changing['australia_resources'] = df_australia_resources_changing['australia_resources'].astype('float64')
df_australia_resources_changing['date'] = pd.to_datetime(df_australia_resources_changing['date'], dayfirst=True)

In [46]:
df_australia_resources_changing.dtypes

date                   datetime64[ns]
australia_resources           float64
dtype: object

Бразилия

In [47]:
df_brazil_gdp = pd.read_csv('../data/external/Brazil_gdp.csv', sep=';')
df_brazil_gdp['date'] = pd.to_datetime(df_brazil_gdp['date'], dayfirst=True)

In [48]:
df_brazil_inflation = pd.read_csv('../data/external/Brazil_inflation.csv', sep=';')
df_brazil_inflation['brazil_inflation'] = df_brazil_inflation['brazil_inflation'].apply(lambda x: float('.'.join(x.split(','))) if ',' in str(x) else float(x))
df_brazil_inflation['date'] = pd.to_datetime(df_brazil_inflation['date'], dayfirst=True)

In [49]:
df_brazil_inflation.dtypes

date                datetime64[ns]
brazil_inflation           float64
dtype: object

In [50]:
df_brazil_pmi = pd.read_csv('../data/external/Brazil_PMI.csv', sep=';')
df_brazil_pmi['brazil_pmi'] = df_brazil_pmi['brazil_pmi'].apply(lambda x: float('.'.join(x.split(','))) if ',' in str(x) else float(x))
df_brazil_pmi['date'] = pd.to_datetime(df_brazil_pmi['date'], dayfirst=True)

In [51]:
df_brazil_pmi.dtypes

date          datetime64[ns]
brazil_pmi           float64
dtype: object

In [52]:
df_brazil_resources_changing = pd.read_csv('../data/external/Brazil_resources_changing.csv', sep=';')
df_brazil_resources_changing['brazil_resources'] = df_brazil_resources_changing['brazil_resources'].apply(lambda x: float('.'.join(x.split(','))) if ',' in str(x) else float(x))
df_brazil_resources_changing['date'] = pd.to_datetime(df_brazil_resources_changing['date'], dayfirst=True)

In [53]:
df_brazil_resources_changing.dtypes

date                datetime64[ns]
brazil_resources           float64
dtype: object

Гвинея

In [54]:
df_guinea_inflation = pd.read_csv('../data/external/Guinea_inflation.csv', sep=';')
df_guinea_inflation['guinea_inflation'] = df_guinea_inflation['guinea_inflation'].apply(lambda x: float('.'.join(x.split(','))) if ',' in str(x) else float(x))
df_guinea_inflation['date'] = pd.to_datetime(df_guinea_inflation['date'], dayfirst=True)

In [55]:
df_guinea_inflation.head()

        date  guinea_inflation
0 2023-08-31              8.02
1 2023-07-31              6.00
2 2023-06-30              6.21
3 2023-05-31              7.91
4 2023-04-30              8.27

In [56]:
df_guinea_inflation.dtypes

date                datetime64[ns]
guinea_inflation           float64
dtype: object

Китай

In [57]:
df_china_gdp_increment = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Макроэкономика', header=None, names=['date','china_gdp_increment_value'], skiprows=7, usecols="G:H")
df_china_gdp_increment.dropna(inplace=True)
df_china_gdp_increment.dtypes

date                         datetime64[ns]
china_gdp_increment_value           float64
dtype: object

In [58]:
df_china_pmi1 = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Макроэкономика', header=None, names=['date','china_pmi1_value'], skiprows=7, usecols="K:L")
df_china_pmi1.dropna(inplace=True)
df_china_pmi1.dtypes

date                datetime64[ns]
china_pmi1_value           float64
dtype: object

In [59]:
df_china_inflation = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Макроэкономика', header=None, names=['date','china_inflation_value'], skiprows=7, usecols="O:P")
df_china_inflation.dropna(inplace=True)
df_china_inflation.dtypes

date                     datetime64[ns]
china_inflation_value           float64
dtype: object

In [60]:
df_china_bid = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Макроэкономика', header=None, names=['date','china_bid_value'], skiprows=7, usecols="U:V")
df_china_bid.dropna(inplace=True)
df_china_bid.dtypes

date               datetime64[ns]
china_bid_value           float64
dtype: object

In [61]:
df_china_pmi2 = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Макроэкономика', header=None, names=['date','china_pmi2_value'], skiprows=7, usecols="Z:AA")
df_china_pmi2.dropna(inplace=True)
df_china_pmi2.dtypes

date                datetime64[ns]
china_pmi2_value           float64
dtype: object

США

In [62]:
df_usa_gdp_increment = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Макроэкономика', header=None, names=['date','usa_gdp_increment_value'], skiprows=7, usecols="AX:AY")
df_usa_gdp_increment.dropna(inplace=True)
df_usa_gdp_increment.dtypes

date                       datetime64[ns]
usa_gdp_increment_value           float64
dtype: object

In [63]:
df_usa_bid = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Макроэкономика', header=None, names=['date','usa_bid_value'], skiprows=7, usecols="BB:BC")
df_usa_bid.dropna(inplace=True)
df_usa_bid.dtypes

date             datetime64[ns]
usa_bid_value           float64
dtype: object

In [64]:
df_usa_inflation = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Макроэкономика', header=None, names=['date','usa_inflation_value'], skiprows=7, usecols="BF:BG")
df_usa_inflation.dropna(inplace=True)
df_usa_inflation.dtypes

date                   datetime64[ns]
usa_inflation_value           float64
dtype: object

In [65]:
df_usa_pmi = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Макроэкономика', header=None, names=['date','usa_pmi_value'], skiprows=7, usecols="BJ:BK")
df_usa_pmi.dropna(inplace=True)
df_usa_pmi.dtypes

date             datetime64[ns]
usa_pmi_value           float64
dtype: object

ЕС

In [66]:
df_eu_gdp_increment = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Макроэкономика', header=None, names=['date','eu_gdp_increment_value'], skiprows=7, usecols="BN:BO")
df_eu_gdp_increment.dropna(inplace=True)
df_eu_gdp_increment.dtypes

date                      datetime64[ns]
eu_gdp_increment_value           float64
dtype: object

In [67]:
df_eu_inflation = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Макроэкономика', header=None, names=['date','eu_inflation_value'], skiprows=7, usecols="BR:BS")
df_eu_inflation.dropna(inplace=True)
df_eu_inflation.dtypes

date                  datetime64[ns]
eu_inflation_value           float64
dtype: object

Россия

In [68]:
df_rus_inflation = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Макроэкономика', header=None, names=['date','rus_inflation_value'], skiprows=7, usecols="CD:CE")
df_rus_inflation.dropna(inplace=True)
df_rus_inflation.dtypes

date                   datetime64[ns]
rus_inflation_value           float64
dtype: object

In [69]:
df_rus_pmi = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Макроэкономика', header=None, names=['date','rus_pmi_value'], skiprows=7, usecols="CH:CI")
df_rus_pmi.dropna(inplace=True)
df_rus_pmi.dtypes

date             datetime64[ns]
rus_pmi_value           float64
dtype: object

# Внешняя торговля

In [70]:
df_brazil_import = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Внешняя торговля', header=2, usecols="A:B")
df_brazil_import['date'] = pd.to_datetime(df_brazil_import['date']) + pd.offsets.MonthEnd()

df_brazil_export = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Внешняя торговля', header=2, usecols="C:D")
df_brazil_export.rename(columns = {'date.1':'date'}, inplace=True)
df_brazil_export['date'] = pd.to_datetime(df_brazil_export['date']) + pd.offsets.MonthEnd()

df_usa_import = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Внешняя торговля', header=2, usecols="E:F")
df_usa_import.rename(columns = {'date.2':'date'}, inplace=True)
df_usa_import['import_usa_value'] = df_usa_import['import_usa_value'].apply(lambda x: float(''.join(x.split(','))) if ',' in str(x) else float(x))
df_usa_import['date'] = pd.to_datetime(df_usa_import['date']) + pd.offsets.MonthEnd()

df_usa_export = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Внешняя торговля', header=2, usecols="G:H")
df_usa_export.rename(columns = {'date.3':'date'}, inplace=True)
df_usa_export['export_usa_value'] = df_usa_export['export_usa_value'].apply(lambda x: float(''.join(x.split(','))) if ',' in str(x) else float(x))
df_usa_export['date'] = pd.to_datetime(df_usa_export['date']) + pd.offsets.MonthEnd()

df_china_import = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Внешняя торговля', header=2, usecols="I:J")
df_china_import.rename(columns = {'date.4':'date'}, inplace=True)
df_china_import['import_china_value'] = df_china_import['import_china_value'].apply(lambda x: float(''.join(x.split(','))) if ',' in str(x) else float(x))
df_china_import['date'] = pd.to_datetime(df_china_import['date']) + pd.offsets.MonthEnd()

df_china_export = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Внешняя торговля', header=2, usecols="K:L")
df_china_export.rename(columns = {'date.5':'date'}, inplace=True)
df_china_export['export_china_value'] = df_china_export['export_china_value'].apply(lambda x: float(''.join(x.split(','))) if ',' in str(x) else float(x))
df_china_export['date'] = pd.to_datetime(df_china_export['date']) + pd.offsets.MonthEnd()

df_australia_import = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Внешняя торговля', header=2, usecols="M:N")
df_australia_import.rename(columns = {'date.6':'date'}, inplace=True)
df_australia_import['date'] = pd.to_datetime(df_australia_import['date']) + pd.offsets.MonthEnd()

df_australia_export = pd.read_excel('../data/external/additional_info.xlsx', sheet_name='Внешняя торговля', header=2, usecols="O:P")
df_australia_export.rename(columns = {'date.7':'date'}, inplace=True)
df_australia_export['date'] = pd.to_datetime(df_australia_export['date']) + pd.offsets.MonthEnd()

# Сбор общего датасета

In [71]:
# Список всех фреймов
l = [df_al, df_alcoa, df_australia_export, df_australia_import, df_australia_inflation, df_australia_pmi, df_australia_resources_changing, df_baltic_dry_index,
     df_bloomberg_metal, df_brazil_export, df_brazil_gdp, df_brazil_import, df_brazil_inflation, df_brazil_pmi, df_brazil_resources_changing, df_chalco,
     df_china_bid, df_china_export, df_china_gdp_increment, df_china_import, df_china_index, df_china_inflation, df_china_pmi1, df_china_pmi2, df_eu_gdp_increment, df_eu_inflation,
     df_ftse, df_guinea_inflation, df_hongqiao, df_kaiser, df_mosexchange, df_norsk_hydro, df_rub_cny, df_rus_inflation, df_rus_pmi, df_rusal, df_shanghai_index, df_sp_metal,
     df_usa_bid, df_usa_export, df_usa_gdp_increment, df_usa_import, df_usa_inflation, df_usa_pmi, df_usd_clp, df_usd_cny, df_usd_dxy, df_usd_eur, df_usd_hkd,
     df_usd_jpy, df_usd_rub]

In [72]:
#Подрезал данные с 25 декабря 2017 года (пн) по 26 октября 2023 (чт)
d = pd.date_range(start='12/25/2017', end='10/27/2023', freq="D")
df = pd.DataFrame(data=d, columns=['date'])

for i in l:
    df = df.join(i.set_index('date'), on='date', how='left')
    
# df.sort_values(by='date', inplace=True)
# df['day_of_week'] = df['date'].dt.day_name()
# df['num_day_of_week'] = df['date'].dt.weekday
df.set_index('date', inplace=True)

In [73]:
df.shape

(2133, 67)

In [74]:
df.to_csv('../data/raw/dataset_with_raw_data.csv')